html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  &.navbar-is-fixed-top {
    padding-top: 52px !important;
  }
  &.admin-menu.navbar-is-fixed-top {
    padding-top: 51px !important
  }
}
.front {
  #navbar {
    margin-bottom: 0;
  }
}

.pane-block-1 {
  .pane-content {
    padding: 200px 0;
    text-align: center;
    p{
      color: #ffffff;
      font-size: 40px;
      text-shadow: 1px 1px 1px #222222;
    }
  }
}

//hover card
.hover-card {
  .view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
    .mask, .content {
      width: 300px;
      height: 200px;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
    }
    img {
      display: block;
      position: relative;
    }
    h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      margin: 20px 0 0 0;
    }
    h3 {
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 20px;
      position: relative;
      color: #fff;
      padding: 10px 20px;
      text-align: center;

    }
    a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      background: #000;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0 0 1px #000;
      &:hover {
        box-shadow: 0 0 5px #000;
      }
    }
  }
  .view-first {
    img {
      transition: all 0.2s linear;
    }
    .mask {
      opacity: 0;
      background-color: rgba(219,127,8, 0.7);
      transition: all 0.4s ease-in-out;
    }
    h2 {
      transform: translateY(-100px);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    h3 {
      transform: translateY(100px);
      opacity: 0;
      transition: all 0.2s linear;
    }
    a.info {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .mask {
        opacity: 1;
      }
      h2, h3, a.info {
        opacity: 1;
        transform: translateY(0px);
        .field-name-field-member-first-name {
          float: left;
          margin-right: 10px;
        }
        .field-name-field-member-last-name {
          text-align: left;
        }
      }
      h3 {
        transition-delay: 0.1s;
      }
      a.info {
        transition-delay: 0.2s;
      }
    }
  }
  //.view-eighth {
  //  mask {
  //    background-color: rgba(255, 255, 255, 0.7);
  //    top: -200px;
  //    opacity: 0;
  //    transition: all 0.3s ease-out 0.5s;
  //  }
  //  h2{
  //    transform: translateY(-200px);
  //    transition: all 0.2s ease-in-out 0.1s;
  //  }
  //  h3 {
  //    color: #333;
  //    transform: translateY(-200px);
  //    transition: all 0.2s ease-in-out 0.2s;
  //  }
  //  a.info {
  //    transform: translateY(-200px);
  //    transition:  all 0.2s ease-in-out 0.3s;
  //  }
  //  &:hover {
  //    mask {
  //      opacity: 1;
  //      top: 0px;
  //      transition-delay: 0s;
  //      animation: bounceY 0.9s linear;
  //    }
  //    h2 {
  //      transform: translateY(0px);
  //      transition-delay: 0.4s;
  //    }
  //    h3 {
  //      transform: translateY(0px);
  //      transition-delay: 0.2s;
  //    }
  //    a.info {
  //      transform: translateY(0px);
  //      transition-delay: 0s;
  //    }
  //  }
  //}
// member full page
  .image {
    float: left;
    margin-right: 20px;
  }
  .description {
    .field-name-field-member-first-name {
      float: left;
      margin-right: 10px;
    }
    .field-name-field-member-last-name {
      text-align: left;
    }
  }
}
// projects
.view-id-projects {
  .view-content {
    .views-bootstrap-grid-plugin-style {
      .row {
        .col {
          .views-field-title {
            text-align: center;
          }
          ul {
            padding-left: 0;
            li{
              list-style: none;
              margin: 0 auto;
              display: table;
            }
          }
        }
      }
    }
  }
}

.node-type-company-project {
  .node-company-project {
    .field-name-field-project-image {
      float: left;
      margin-right: 20px;
    }
  }
}

.clients-list {
  .image {
    float: left;
    margin-right: 20px;
  }
  .description {
    .field-name-field-member-first-name {
      float: left;
      margin-right: 10px;
    }
    .field-name-field-member-last-name {
      text-align: left;
    }
  }
}


.footer_bottom {
  background: none repeat scroll 0 0;
  border-top: 1px solid $border_color;
  bottom: 0;
  min-height: 60px;  /* NOTE: can be removed */
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9;
}
.footer_bottom section.block {
  margin: 0;
  padding: 20px 19px;
}